/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
	font-family: 'Open Sans';
}

/* LAYOUT */

.container-lg,
.container-sm {
    margin: 0 auto;
}

.container-lg {
    max-width: 1210px;
    padding: 30px;
}

.container-sm {
    max-width: 950px;
    padding: 30px;
}

.flex {
    display: flex;
}

.white-btn {
    background-color: white;
    border-radius: 999px;
}

.blue-btn {
    background-color: #0084FD;
    border-radius: 999px;
    color: white;
}

.card {
    padding: 30px;
    text-align: center;
    border-radius: 20px;
}

.col-12-sm {
    width: calc(12 * 100% / 12);
}    

.top-section .card p {
    color: #5A6E7F;
    font-weight: bold;
}

div[class^="col"] {
    padding: 20px;
}


/* STYLE */
/* GENERAL */

.blue {
    color: #0084FD;
}

/* HEADER */

header {
    background-color: #0084FD;
    color: white;
}

.navigation {
    justify-content: space-between;
}

.nav-options {
    align-items: center;
}

.nav-list {
    gap: 10px;
    align-items: center;
    display: none;
}

.hamburger-menu {
    font-size: 35px;
}

header .white-btn {
    line-height: 30px;
    padding: 5px 10px 3px;
    text-align: center;
    font-weight: bold;
}

/* TOP-SECTION */

.card-head {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 30px;
    line-height: 30px;
}

.top-section .row {
    flex-wrap: wrap;
} 

.top-section .card {
    padding: 20px;
    text-align: center;
    background-color: #B5DDFF;
}

.top-section .blue-btn {
    padding: 10px 70px;
    font-weight: bold;
    font-size: 20px;
}

.top-card-img {
    display: block;
}

.top-section .demo {
    padding-bottom: 0px;
}

.card-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    line-height: 30px;
}

.card i:not(.demo i){
    font-size: 100px;
}

.demo i {
    margin-right: 10px;
}

.card-body {
    margin-top: 30px;
}

/* STRATEGIC SECTION */

.strategic {
    background-color: #9792E4;
}

.planning {
    gap: 30px;
    flex-direction: column;
    color: white;
}

.planning h2 {
    font-size: 38px;
}

.app-development {
    margin-top: 50px;
}
.app-card {
    background-color: white;
    border-radius: 50px;
}

.circle {
    width: 50px;
    border-radius: 50%;
    background-color: #9792E4;
    padding: 15px;
}

.strategic .app-development .app-card i{
    font-size: 20px;
}

.circle,
.app-card h2,
.app-card p {
    margin-top: 30px;
}



/* MEDIA QUERY */

@media (min-width: 576px) {
    .nav-list {
        display: none;
    }

    .col-8-lg {
        width: calc(8 * 100% / 12);
    }

    .col-4-lg {
        width: calc(4 * 100% / 12);
    }

    .card-body {
        margin-right: 120px;
    }
    .card {
        height: 100%;
    }
}

@media (min-width: 992px) {
    /* header */
    .hamburger-menu {
        display: none;
    }

    .nav-list {
        display: flex;
    }

    /* TOP-SECTION */
    .demo {
        display: flex;
    }

    /* STRATEGIC-SECTION */
    .strategic .row {
        display: flex;
    }

    .planning {
        padding: 20px;
    }
    .planning-img {
        padding: 50px 0px 80px;
    }

    .app-development {
        margin-top: 150px;
    }

    .strategic .col-6-lg {
        width: calc(6 * 100% / 12);
    }
    .planning h2 {
        margin-top: 30px;
    }
    
    .app-card img{
        height: 270px;
    }

    .app-card {
        margin-top: 200px;
    }
    
}    